<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.O.B.I.™ | Sign in</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments :: mobi-logo}"></div>

    <h1 class="heading">M.O.B.I. Account</h1>
    <div class="headline">Login to manage all your MOBI product and services</div>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="User ID" required autofocus />
        <input type="password" name="password" placeholder="Passphrase" required />
        <button type="submit">CONTINUE</button>
    </form>

    <div th:replace="~{fragments :: mobi-footer}"></div>
</div>
</body>
</html>