<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.O.B.I.™ | Identity</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <img src="https://wearemobi.com/icon-light.svg" class="logo" alt="M.O.B.I. Logo">

    <h1 class="heading">M.O.B.I. Account</h1>
    <div class="headline">Login to manage all your MOBI product and services</div>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="User ID" required autofocus />
        <input type="password" name="password" placeholder="Passphrase" required />
        <button type="submit">CONTINUE</button>
    </form>

    <div class="footer">
        Copyright © 2026 <strong>M.O.B.I.™</strong> (Machine Oriented Brilliant Ideas™)
    </div>
</div>
</body>
</html>